@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
@import url('https://pro.fontawesome.com/releases/v5.12.0/css/all.css');

$bodycolor: #fff;
$mobilecolor: #1999e4;

$theme-colors: (
  "orange": #f57723,
  "warning": #ffbb00,
  "blue": #1e99d5,
  "white": #fff,
  "grey": #888
);

@import "node_modules/bootstrap/scss/bootstrap";

*{
  outline: none !important;
  resize: none !important
}
body{
  font: 400 14px "Poppins";
  min-height: 100vh;
  background-color: $bodycolor;
  color: #000;

  &.login{
    background-image: url('https://wallpaperaccess.com/full/690151.png');
    background-size: cover;
    background-repeat: no-repeat;

    & .menu{
      display: none
    }
  }
}
.text-black{
  color: #000 !important
}
.underline{
  text-decoration: underline
}
.pointer{
  cursor: pointer
}
.menu{
  height: 100vh;
  overflow: auto;

  & .logo{
    filter: drop-shadow(1.5px 0 0 #fff) drop-shadow(-0.7px 0 0 #fff) drop-shadow(0 -1px 0 #fff) drop-shadow(0 1.5px 0 #fff)
  }

  & .router-link{
    text-decoration: none;
    color: #fff !important;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    font-size: 20px;
    padding: 1rem 1.5rem;
    position: relative;
    font-weight: 400;
    
    &:hover, &.active{
      background-color: rgba(0,0,0,0.2);
      text-decoration: none
    }
    
    &.active:after{
      display: block;
      content: '';
      position: absolute;
      right: 0;
      top: 25%;
      border: 15px solid transparent;
      border-right-color: $bodycolor
    }
  }
}
#mainBlock, #loginBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  overflow: auto
}
#mainInput{
  font-size: 25px !important;
  width: 60%
}
#popup{
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.4s, width 0s;
  margin-top: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 23px;
  z-index: 1;

  &.show{
    margin-top: 0;
    box-shadow: 0 -100vh 0 rgba(0,0,0,0.3)
  }

  &.preview{
    font-size: inherit;
    align-items: inherit;
    padding-bottom: 70px;

    .bottom-side{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      background: #fff;
      box-shadow: 0 0 20px rgba(0,0,0,0.2)
    }
  }
}
.right-block{
  overflow: auto;
  max-height: 100vh
}
.fc-day-grid .fc-row{
  height: 95px !important
}
.fc-scroller.fc-day-grid-container{
  height: auto !important;
  overflow: hidden !important
}
.fc-other-month{
  opacity: 0.4
}
.fc-toolbar {
  text-transform: capitalize
}
.fc-today{
  background-color: #fce3e3 !important;

  &:not(.fc-day-top):after{
    content: "\f08d";
    font: 300 40px "Font Awesome 5 Pro";
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: rgba(0,0,0,0.2);
    transform: rotate(45deg)
  }
}
td.fc-day-top{
  text-align: center
}
th.fc-day-header.fc-widget-header{
  text-transform: uppercase;
  background-color: #f1f1f1;
  font-weight: 500
}
.fc-content{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}
.fc-content *, .fc-content{
  font-size: 13px !important
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end{
  border-radius: 50px;
  padding: 0 0.5rem;

  &:hover{
    background-color: #2f73b7;
    border-color: #266baf
  }
}
.fc *{
  font-family: "Segoe UI";
  font-size: initial;
  font-weight: initial
}
.label, .desc{
  text-align: center;
  background-color: #3788d8;
  color: #fff;
  border-radius: 50px;
  display: block;
  font-size: 14px;
  padding: 0.1rem 0;
  margin-bottom: 0.3rem
}
.desc{
  width: 100px;
  background-color: #555
}
table td, table th{
  vertical-align: middle !important
}
.edit-time{
  padding: 0.2rem;
  height: auto;
  text-align: center;
  font-size: inherit
}
.ant-collapse-borderless{
  background-color: transparent !important;

  & .ant-collapse-item{
    border: 0 !important
  }
}
.ant-upload-list{
  display: none
}
.border-text{
  background: #fff;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 20px;
  transform: translateY(-50%);
  font-weight: 500;
  text-transform: uppercase
}
.circle-btn{
  border-radius: 50px;
  height: 42px;
  width: 42px
}
.anticon-check-circle{
  vertical-align: middle !important;
  margin-top: -5px
}
.uploader{
  flex-grow: 1;

  & > span{
    display: block;
    width: 100%;
    height: 100%
  }
}
.main-screen{
  height: calc(100vh - 100px) !important
}
.bottom-menu{
  height: 100px;
  display: flex;
  color: #fff;
  background: $mobilecolor;
  justify-content: center;
  align-items: center;

  & .router-link{
    color: darken($mobilecolor, 15%) !important;
    font-weight: 500;
    font-size: 65%;
    padding: 1rem;

    & span{
      display: flex;
      flex-direction: column;
      align-items: center
    }

    &:hover, &.active{
      background: inherit
    }

    &.active{
      color: #fff !important
    }

    &.active:after{
      display: none
    }
  }
}
.multiselect{
  height: 100px !important;
  overflow: auto;
  
  .option{
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0;

    &.checked{
      background: #eee
    }
  }
}
.imagescale{
  cursor: pointer;
  margin-right: 1rem;
  box-shadow: none;
  border-radius: 0.2rem;

  &:hover{
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2)
  }

  &.scaled{
    position: fixed;
    transition: transform 0.2s ease, box-shadow 0s linear 0.2s;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    margin: auto;
    transform: scale(4.5);
    box-shadow: 0 0 0 100px rgba(0,0,0,0.4);
    z-index: 2
  }
}
.corso-item{
  font-size: 20px;
  text-transform: uppercase;

  &:hover{
    background: #eee
  }
}
.logo-upload{
  width: auto;
  
  & .ant-upload-select{
    height: 145px !important;
    width: 145px !important;
    margin: 0 !important 
  }
}
.edited{
  position: relative;
  z-index: 1;

  &:after{
    display: block;
    content: "";
    height: 100%;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(8, 218, 54, 0.2);
    position: absolute;
    top: 0;
    z-index: -1;
    animation: changed 1s ease forwards
  }
}
.top-info{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 16px
}
.select-date input{
  border-color: #ced4da !important;
  padding: 0.375rem 0.75rem;
  height: 38px;

  &:focus{
    border-color: #80bdff !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
  }
}

@keyframes changed{
  20%{ width: 100% }
  100%{ width: 100%; opacity: 0 }
}

@media screen and (max-height: 370px){
  #mainBlock{ flex-direction: row !important}
}